.direnv/
.env
.env.*
!.env.example
mlflow_artifacts/
mlruns/
.ipynb_checkpoints/

personal_docs/

# Docker Data Volumes
pgdata/
redis_data/
prom_data/
grafana_data/
/data

# Claude Code Plugins
.omc/

# Jetbrains
.idea
